[submodule "Lab2"]
	path = Lab2
	url = https://github.com/tranthanhthuy0905/Lab2.git
[submodule "Lab3"]
	path = Lab3
	url = https://github.com/tranthanhthuy0905/Lab3
[submodule "PLP2"]
	path = PLP2
	url = https://github.com/tranthanhthuy0905/PLP2.git
[submodule "PLP02"]
	path = PLP02
	url = https://github.com/tranthanhthuy0905/PLP02.git
[submodule "Lab4-"]
	path = Lab4-
	url = https://github.com/tranthanhthuy0905/Lab4-.git
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/tranthanhthuy0905/Lab4.git
[submodule "Lab5c"]
	path = Lab5c
	url = https://github.com/tranthanhthuy0905/Lab5c.git
[submodule "PLP3"]
	path = PLP3
	url = https://github.com/tranthanhthuy0905/PLP3.git
[submodule "MidtermProject"]
	path = MidtermProject
	url = https://github.com/tranthanhthuy0905/MidtermProject.git
[submodule "PLP4"]
	path = PLP4
	url = https://github.com/tranthanhthuy0905/PLP4.git
[submodule "PLP05"]
	path = PLP05
	url = https://github.com/tranthanhthuy0905/PLP05.git
